body {
  background-image: url('../img/hall-banner.jpg');
  background-attachment: fixed;
  background-size: cover;
}

.content {
  display: flex;
  flex-direction: column;
  padding-top: 12%;
  position: absolute;
  width: 100%;
  top: 100px;
}

.content__datepicker {
  border: rgb(77, 181, 255, 0.7) solid 2px;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  width: max-content;
  padding: 50px;
  border-radius: 50px;
  background-color: rgba(120, 115, 115, 0.9);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.4);
  animation: 1.8s move,  ease-out;

}

.content__welcome {
  padding-bottom: 10px;
  color: whitesmoke;
  font-size: 50pt;
  font-weight: 200;
  animation: 1.7s show ease-out;
}

.content__please {
  padding-bottom: 30px;
  color: whitesmoke;
  font-size: 22pt;
  letter-spacing: .18em;
  font-weight: 200;
  animation: 2.0s show_2 ease-out;
}

.content__search-form {
  border-radius: 35px;
  display: flex;
  flex-direction: row;
  height: 70px;
  width: 900px;
  animation: 2.5s show ease-out;
}

@keyframes move {
  0% {
    border: rgb(77, 181, 255, 0.0) solid 2px;
    margin-top: -10%;
    background-color: rgba(95, 95, 95, 0.0);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.0);
  }
  40% {
    background-color: rgba(95, 95, 95, 0.0);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.0);
  }
  60% {
    border: rgb(77, 181, 255, 0.0) solid 2px;
  }
  90% {
    border: rgb(77, 181, 255, 0.3) solid 2px;
  }
  100% {
    border: rgb(77, 181, 255, 0.7) solid 2px;
    margin-top: 0;
    background-color: rgba(120, 115, 115, 0.9);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
  }
}

@keyframes show {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes show_2 {
  0% { opacity: 0; }
  80% { opacity: 0; }
  100% { opacity: 1; }
}

.content__start-date {
  width: 350px;
}

.content__end-date {
  width: 350px;
}

.content__search {
  width: 200px;
}

.content__start-date-field {
  font-size: 20pt;
  padding-left: 13%;
  box-sizing: border-box;
  font-weight: 300;
  background-color: whitesmoke;
  border-radius: 35px 0 0 35px;
  height: 100%;
  width: 100%;
}

.content__end-date-field {
  font-size: 20pt;
  padding-left: 13%;
  background-color: whitesmoke;
  font-weight: 300;
  height: 100%;
  width: 100%;
}

.content__search-button {
  border-radius: 0 35px 35px 0;
  height: 100%;
  width: 100%;

  font-weight: 400;
  font-size: 16pt;
}

.content__start-date-field:hover {
  border-radius: 20px 0 0 20px;
  background-color: rgb(228, 226, 226);
}

.content__end-date-field:hover {
  background-color: rgb(228, 226, 226);
}

.content__search-button:hover {
  font-size: 16pt;
  border-radius: 0 20px 20px 0;
  color:whitesmoke;
}

.content__start-date-field::placeholder {
  color: rgb(161, 161, 161);
  font-weight: 400;
  font-size: 20pt;
  padding-left: 6%;

}

.content__end-date-field::placeholder {
  color: rgb(161, 161, 161);
  font-weight: 400;
  font-size: 20pt;
  padding-left: 5%;
}

@keyframes shake {
  0% {
    padding-left: 13%;
  }
  50% {
    padding-left: 14%;
  }
  100% {
    padding-left: 13%;
  }
}

.content__start-date-field:hover::placeholder {
  transition: 0.2s ease-out;
  color: #64B5F6;
}

.content__end-date-field:hover::placeholder {
  transition: 0.2s ease-out;
  color: #64B5F6;
}