body {
    background-image: linear-gradient(to left, rgba(255,255,255, 0.7) 90%, whitesmoke), url('../img/search-banner.jpg');
    background-attachment: fixed;
    background-size: cover;
}

.content__datepicker_block {
    z-index: 1;
    position: fixed;
    margin-top: 130px;
    height: 75px;
    width: 100%;

    background-color: #3b719e;
    box-shadow: 0 0 28px -8px rgba(0,0,0,0.5);

    display: flex;
    align-items: center;
    justify-content: center;
}

.content__search-form {
    display: flex;
}

.content__datepicker_block input {
    height: 50px;
    width: 250px;
    margin: 5px;
    padding: 0;
    border-radius: 5px;

    background-color: rgba(245, 245, 245, 0.1);
    color:whitesmoke;

    text-align: center;
    font-weight: 300;
    font-size: 15pt;
    text-transform: none;
    letter-spacing: .09em;

    transition: ease-out 0.2s;
}

.content__datepicker_block input::placeholder {
    color:rgba(245, 245, 245, 0.9);
}

.content__datepicker_block input:hover {
    background-color: rgba(245, 245, 245, 0.9);
    color:#3b719e;
}

.content__datepicker_block input:hover::placeholder {
    color:#3b719e;
}

.content__datepicker_block button {
    height: 50px;
    width: 130px;
    margin: 5px;
    padding: 0;
    border-radius: 5px;

    background-color: rgba(245, 245, 245, 0.9);
    color:#3b719e;

    font-weight: 400;
    font-size: 13pt;
    text-transform: uppercase;
    letter-spacing: .09em;
}

.content__datepicker_block button:hover {
    background-color: rgba(250, 250, 250, 1);
    color:#3b719e;
}

@keyframes shake {
    0% {
        padding-left: 0;
    }
    50% {
        padding-left: 1%;
    }
    100% {
        padding-left: 0;
    }
}

/* guests manager dropdown */

.dropdown-content {
    cursor: default;
    border-radius: 3px;
    margin-left: 10px;
    display: none;
    position: absolute;
    background-color: white;
    width: 240px;
    max-height: 390px;
    overflow: auto;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.1);
    z-index: 1;
    color: #444;
}

#wrapper {
    font-size: 12pt;
    display: flex;
    flex-direction: column;
}

#room_header {
    background-color: rgb(240, 240, 240);
    display: flex;
    height: 40px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 6px;
}

#room_number {
    display: block;
    font-size: 10pt;
}

.close {
    position: inherit !important;
    padding: 0;
    margin: 0;
    border-radius: 11px !important;
    font-size: 8pt !important;
    width: 22px !important;
    height: 22px !important;
    color: #858585 !important;
    background-color: #e4e4e4 !important;

}

.close:hover {
    color: whitesmoke !important;
    background-color: #b9b9b9 !important;
}


#room_selector {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

#btn_content {
    position: sticky;
    bottom: 0;
    padding-right: 4px;
    background-color: #f0f0f0;
    border-top: solid rgb(209, 209, 209) 1px;
    display: flex;
    justify-content: right;
}

#amount_changer {
    display: flex;
    width: 80px;
    justify-content: space-between;
    align-items: center;
}

.plus, .minus {
    padding: 0 !important;
    margin: 0 !important;
    box-shadow: -0.5px 2px 3px 0 rgba(0,0,0,0.4);
    color: whitesmoke !important;
    border-radius: 10px !important;
    font-size: 11pt !important;
    width: 20px !important;
    height: 20px !important;
    background-color: #3b719e !important;
}

.plus:hover, .minus:hover {
    background-color: #3b719edc !important;
}

#add_room_btn, #done_btn {
    width: 90px;
    font-weight: 600;
    font-size: 10pt;
    height: 35px;
    letter-spacing: 0.03em;
}

#add_room_btn {
    background-color: transparent;
}

#add_room_btn:hover {
    background-color: #3b719e1a;
}

#done_btn {
    color: whitesmoke;
    background-color: #3b719e;
}

#done_btn:hover {
    background-color: #3b719edc;
}



.content__categories_booking_block {
    position: absolute;
    margin-top: 230px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.categories_block {
    padding-bottom: 30px;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
}

.categories_block__row {
    cursor: default;
    height: 210px;
    width: 800px;
    margin-bottom: 20px;
    border-radius: 20px;

    background-color: rgba(245, 245, 245, 0.9);
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);

    display: flex;
}

.image {
    border-radius: 20px 0 0 20px;
}

.categories_block_def_module {
    width: 250px;
    margin-left: 25px;

    font-weight: 300;
    font-size: 13pt;
    color: rgb(65, 65, 65);

    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#category_title_1 {
    font-size: 20pt;
}

#category_title_2 {
    margin-bottom: 10px;
}

#category_title_4 {
    cursor: pointer;
    font-weight: 500;
    color: #3b719e;
}

#category_title_5 {
    margin-top: -25px;
    margin-bottom: -25px;
    flex-basis: 10px;
    font-size: 11pt;
    font-weight: 400;
    color: #cf4a4a;
}

#square_meter {
    position: relative;
    top: -6px;
    font-size: 8pt;
}

.categories_select_module {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 20px;

    border-radius: 0 20px 20px 0;
    right: 0;
    background-color: #ebebeb;
}

#price {
    font-size: 21pt;
    letter-spacing: 0.05em;
    font-weight: 600;
    color: rgb(38, 153, 90);
    margin-bottom: 8px;
}

#price_details {
    flex-grow: 1;
    font-size: 11pt;
    letter-spacing: 0.05em;
    font-weight: 300;
    color: rgb(97, 97, 97);
}

#select_btn {
    bottom: 0;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    text-transform: capitalize;
    font-size: 12pt;
    font-weight: 500;
    letter-spacing: 0.03em;
    color: whitesmoke;
    background-color: #3b719e;
}

#select_btn:hover {
    background-color: #759ec0;
}

.booking_block {
    cursor: default;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
    border-radius: 20px;
    background-color: #90b6d4;
    margin-left: 40px;
    width: 250px;
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.booking_block__top {
    background-color: #3b719e;
    height: 50px;
    border-radius: 20px 20px 0 0;
    text-align: center;
    padding-top: 15px;
    font-size: 16pt;
    font-weight: 500;
    letter-spacing: 0.03em;
}

.booking_block__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 20px 20px;
    height: 65px;
    background-color: #b8cddd;
}

#book_btn {
    margin-left: 10px;
    bottom: 0;
    height: 40px;
    border-radius: 10px;
    text-transform: capitalize;
    font-size: 12pt;
    font-weight: 700;
    letter-spacing: 0.03em;
    color: whitesmoke;
    background-color:  #faab2b;
}

#book_btn:hover {
    background-color: #ffb744;
}

#total_price {
    text-align: center;
    font-size: 16pt;
}

.change_your_search {
    margin-top: 150px;
    background-color: whitesmoke;
    padding: 50px;
    width: 800px;
    border-radius: 20px;
    text-align: center;
    font-size: 25pt;
    color: #759ec0;
    font-weight: 300;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);

}

#please_change_options {
    text-shadow: 1px 1px 5px #b9b9b9b0;
    font-size: 20pt;
    letter-spacing: 0.07em;
    font-weight: 200;
    display: block;
    padding-top: 25px;
}