body {
    background-image: url('../img/search-banner.jpg');
    background-attachment: fixed;
    background-size: cover;
}

.content {
    display: flex;
    flex-direction: column;
    padding-top: 12%;
    position: absolute;
    width: 100%;
    top: 100px;
}

.content__show-date {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    width: max-content;
    padding: 50px;
    border-radius: 50px;
    background-color: rgba(120, 115, 115, 0.8);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
    animation: 1.8s move,  ease-out;
}