body {
    background: linear-gradient(to top,rgb(214, 247, 255), rgb(228, 228, 228));
}

.content {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 85%;
    top: 100px;
    align-items: center;
    justify-content: center;
}

.content input {
    font-weight: 400;
    font-size: 15pt;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    text-transform: none;
    width: 370px;
    height: 60px;
    margin: 10px;
    border-radius: 15px;
    letter-spacing: 0.07em;
    cursor: text;
}

.content input::placeholder {
    color: rgb(179, 179, 179);
    font-weight: 300;
}

.content button {
    width: 250px;
    margin: 30px;
}

.content span {
    cursor: default;
    align-self: start;
    margin-bottom: -7px;
    padding-left: 10px;
    font-size: 10pt;
    color:#444;
    font-weight: 300;
    letter-spacing: 0.04em;
    margin-left: 3px;
}

#input_block_s_u {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#text_block_s_u {
    cursor: default;
    margin-bottom: 10px;
    text-align: center;
    letter-spacing: 0.02em;
    width: 550px;
    display: block;
    color: rgb(87, 87, 87);
    font-weight: 400;
    font-size: 38pt;
}

#succs_registr__s_u {
    cursor: default;
    display: none;
    letter-spacing: 0.02em;
    color: rgb(1, 104, 6);
    font-weight: 300;
    font-size: 28pt;
}

#sign_in_text_s_u {
    font-weight: 400;
    cursor: pointer;
}

#sign_in_text_s_u:hover {
    color: #F9A825;
}

#text_02_s_u {
    margin-top: 10px;
    font-size: 18pt;
    letter-spacing: 0.01em;
}

#alert_block_s_u {
    width: 400px;
    height: 60px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#name_text_s_u_invalid {
    display: none;
    color: red;
}

#surname_text_s_u_invalid {
    display: none;
    color: red;
}

#email_text_s_u_invalid {
    display: none;
    color: red;
}

#password_text_s_u_invalid {
    display: none;
    color: red;
}

#password_repeat_text_s_u_invalid {
    display: none;
    color: red;
}

#password_repeat_text_s_u_not_repeat {
    display: none;
    color: red;
}

#text_alert_s_u {
    cursor: default;
    display: block;
    text-align: justify;
    color: #f44336;
    font-size: 15pt;
    letter-spacing: 0.01em;
}